@charset "UTF-8";

body {
    background-color: #FAC9B8;
}

header {
    background-image: linear-gradient(to bottom, #91CB3E, #53A548, #4C934C);
    font-family: Arial, Helvetica, sans-serif;
    margin:-10px -10px auto -10px;
    padding-top: 10px;
}

header h1{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

header p{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

header nav{
    background-color: #19381f00;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
}

nav a:link {
    text-decoration: none;
    color: #24502d;
}

nav a:visited {
    color: #24502d;
    text-decoration: none;
}

nav a:hover {
    background-color: #91CB3E;
    transition: .3s;
    border-radius: 10px;
    color: #24502d;
}

a {
    text-decoration: none;
    color: #4C934C;
}

a:visited {
    text-decoration: none;
    color: #4C934C;
}

a:hover {
    text-decoration: none;
    color: #4C934C;
}

main {
    background-color: white;
    margin: auto;
    width: 70%;
    height: 70%;

    padding: 15px;
}

main h1 {
    color: #24502d;
}

main h2 {
    background-image: linear-gradient(to right,#91CB3E, #53a54863, #4c934c0a );
    color: #24502d;
}

main p {
    text-align: justify;
}

main p span {
    color: green;
}

.dan img{
    height: 100%;
    width: 100%;
}

.irina img{
    height: 100%;
    width: 100%;
}

.bug {
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main .video {
    background-color: #24502d;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 0.5%;
}

h3 {
    background-color: #4C934C;
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    margin-bottom: -0.5%;
}

article {
    background-color: #afceb0;
    padding: 1%;
}

ul li {
    list-style: none;
}

.l1 {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #91CB3E;
    text-align: center;
    margin: 20px -8px -20px -8px;
}
